.sessionLegend{
    color: white;
}

.custom-tooltip-sessions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 3rem;
    height: 2rem;
    background-color: white;
    color: black;
    padding: .5em;
    border-radius: 0px;
}

.recharts-legend-wrapper {
    height: 1px;
    
        p {
            position: absolute;
            width: 147px;
            height: auto;
            left: 25px;
            bottom: 190px;
        }
}