.custom-tooltip-chart{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    width: 4rem;
    height: 5rem;
    background-color: red;
    color: white;
    padding: 1em;
    font-size: 12px
}