.home {
  display: flex;
  flex-flow: row;
}

.info_wrap {
  width: calc(100vw - 150px);
  margin: 2vw 4vw;

  &_block {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 60vh;
    gap: 3em;

    &_left {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      width: 70%;
    

      &_graph {
        background: #FBFBFB;

        &_head {
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          font-weight: 500;

          div {
            display: flex;
            flex-flow: row;
            gap: 50px;
            color: #74798C;
          }
        }

        &_body {
          height: 25vh;
        }
      }

      &_stats {
        display: flex;
        flex-flow: row;
        gap: 2em;
        justify-content: space-between;

        div {
          width: 30%;
          height: auto;
          aspect-ratio: 1;
          border-radius: 5px
        }
      }

    }

    &_right {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      margin: 0 auto;
    }
  }
}

.greyDot{
  width: 12px;
  aspect-ratio: 1;
  border-radius: 50px;
  background-color: #282D30;
  display: inline-block;
  margin-right: .5em;
}

.redDot{
  width: 12px;
  aspect-ratio: 1;
  border-radius: 50px;
  background-color: red;
  display: inline-block;
  margin-right: .5em;
}

.graph_wrap {
  background: red;
  position: relative;
}

.graph_legend {
  position: absolute;
  top: 2vw;
  left: 2vw;
  color: white;
  opacity: 0.5;
  font-size: clamp(12px, 1.5vw, 18px);
  width: 150px;
  line-height: 30px;
}

.spider_wrap{
  background: #282D30;
  position: relative;
}

.gauge_wrap {
  background: #FBFBFB;
  position: relative;
}

.gauge_legend {
  position: absolute;
  top: 2vw;
  left: 2vw;

  opacity: .5;
  font-size: 17px;
  width: 150px;
  line-height: 30px;

  &_1 {
    position: absolute;
    color: Black;
    top: 2vw;
    left: 2vw;
  }

  &_2 {
    position: absolute;
    color: black;
    top: 35%;
    left: 45%;
    font-weight: bold;
    font-size: clamp(15px, 2vw, 27px);
  }

  &_3 {    
    position: absolute;
    color: grey;
    top: 46%;
    left: 42%;
    font-size: clamp(12px, 1.5vw, 18px);
    width: 70px;
    text-align: center;
  }

}