@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import "./components/Header/Header.scss";
@import "./components/Category/Category.scss";
@import "./components/Chart/Chart.scss";
@import "./components/Consumed/Consumed.scss";
@import "./components/Graph/Graph.scss";
@import "./components/Legend/Legend.scss";
@import "./components/Nav/Nav.scss";
@import "./components/Sidebar/Sidebar.scss";
@import "./components/Spider/Spider.scss";
@import "./components/Title/Title.scss";
@import "./components/Gauge/Gauge.scss";


@import "./pages/Home/Home.scss";

*{
  margin: 0;  
  font-family: Roboto;
}
.app{
  background: white;
}